@media(max-width:575.98px){
    /* =============nav========== */
    .nav_div {
        background: black;
        text-align: center;
        margin-right: -12px;
        margin-left: -12px;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-toggler i{
        color: #fff;

    }
    .navbar .banner_btn button{
        display: none;
    }
    /* ==============nav end======== */
    /* ==============banner strat======== */
    .banner_heading h1 {
        font-size: 30px;
        line-height: 45px; 
    }
    .banner_btn_wrapper {
        row-gap: 20px;
        flex-direction: column;
    }
    .banner_heading p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin-top: 10px;
    }
    #banner {
        padding-top: 100px;
        padding-bottom: 48px;
    }
    .banner_img .banner_img_item{
        width: 300px;
        margin-top: 30px;
    }
    /* ==============banner end======== */


    /* ==============work start======== */
    .work_heading h2 {
        font-size: 34px;
        line-height: 51px;
    }
    .work_heading p {
        font-size: 14px;
        line-height: 21px;
        margin: 10px 0;
    }
    .work_heading a {
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
    }
    .work_card_contentt img {
        margin-top: 20px;
    }
    .work_card_contentt h4 {
        font-size: 26px;
        line-height: 39px;
        margin-top: 8px;
        margin-bottom: 0px;
    }
    #work {
        margin: 60px 0;
    }
    /* ==============work end======== */


    /* ==============project start======== */
    .project_heading h3 {
        font-size: 30px;
        line-height: 45px;
        font-weight: 500;
    }
    .project_heading_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-bottom: 35px;
    }
    .project_pera span {
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
    }
    .project_content_wrapper {
        flex-direction: column;
        row-gap: 30px;
    }
    .project_content_one {
        overflow: hidden;
    }
    .project_content_one .project_img{
        width: 300px;
    }
    .Project_overlay_img h4 {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-top: 55px;
        width: 200px;
    }
    .Project_overlay_img p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin-top: 5px;
        margin-bottom: 15px;
        width: 250px;

    }
    .Project_overlay_img span {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }
  
    /* ==============project end======== */

    
    /* ==============banner end======== */
    /* ==============banner end======== */
    /* ==============banner end======== */
    /* ==============banner end======== */
    /* ==============banner end======== */
    /* ==============banner end======== */
    /* ==============banner end======== */
    /* ==============banner end======== */
    /* ==============banner end======== */
}
/* @media(max-width:575.98px){

} */
/* @media(max-width:575.98px){

} */
/* @media(max-width:575.98px){

} */
/* @media(max-width:575.98px){

} */
/* @media(max-width:575.98px){

} */